/*  */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    height: 100px;
    background-color: gray;
    width: 20%;
}
div{
    display: flex;

    align-items: center;
}
#add{
    padding: 5px;
    margin: 8px;
    
}